body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Swipper Style */
.swiper {
  padding-top: 50px !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 24px;
  background-image:none !important
}

/* .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgb(172 172 172 / 50%), rgba(0, 0, 0, 0)) !important;
}

.swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgb(172 172 172 / 50%), rgba(0, 0, 0, 0)) !important;
} */